/* =================================== Footer css =========================== */
:root {
  --blue_color: #5956e8;
  --primary_font_color: #181818;
  --white_color: #ffffff;
  --secondary_font_color: #5d5d5d;
  --inter: "Inter", sans-serif;
}

.footerPart {
  margin-top: 123px;
  padding: 123px 0px;
  background-color: hsla(241, 76%, 62%, 0.1);
}

.footerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerLeft {
  flex-basis: 300px;
}

.footerLeft_text {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--inter);
  color: var(--secondary_font_color);
  line-height: 27px;
  margin-top: 15px;
}

.footerIcon {
  margin-top: 20px;
  display: flex;

  column-gap: 15px;
}

.footerIcon_one {
  font-size: 25px;

  color: #337fff;
}
.footerIcon_two {
  font-size: 28px;

  color: #33ccff;
}

.footerRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 93px;
}

.footerTitle {
  font-size: 20px;
  font-weight: 600;
  font-family: var(--inter);
  color: var(--primary_font_color);
  margin-bottom: 15px;
}
.footerLink {
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
  font-family: var(--inter);
  color: var(--secondary_font_color);
}

.contentTopFlex {
  align-self: flex-start;
}

/* =================================== Footer css =========================== */
